<!doctype html>


<html>

<head>
    <meta charset="utf-8">
    <title>中国管理科学研究院职业教育研究所西南中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <meta content="black" name=" apple-mobile-web-app-status-bar-style" />
    <meta content="email=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11,12" />
    <meta name="keywords" content="职业教育研究所" />
    <meta name="description" content="职业教育 研究所 中管院" />

    <!--设置浏览器标签页图标-->
    <link rel="Shortcut Icon" href="img/common-img/ShortcutIcon.ico" />

    <!--清除浏览器默认 CSS样式-->
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css" />

    <link rel="stylesheet" type="text/css" href="/static/css/common2.css" >

    <!--swiper-->
    <link rel="stylesheet" href="/static/css/swiper.min.css">

    <!--内容部分 CSS-->
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>

<body>

    <div class="app">



        <script src="/static/js/pc_or_mobile.js"></script>
        <script>
            browserRedirect('mobile')
        </script>
        <div class="header">
            <div class="inner clearfix">
                <a href="/m" class="logo"><img src="/static/img/top.jpg" /></a>
                <div class="btn">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="nav">
                <div class="mask"></div>
                <div class="list">
                    <ul class="clearfix">
                        <li><a href="/">首页</a></li>

                        <li><a href="About.aspx?m=18">机构概况</a></li>



                        <li><a href="list.aspx?m=9">通知公告</a></li>



                        <li><a href="list.aspx?m=14">工作动态</a></li>

                        <li><a href="searchC.aspx?m=77">证书查询</a></li>



                        <li><a href="searchC.aspx?m=16">课题研究</a></li>



                        <li><a href="listg.aspx?m=20">专家智库</a></li>



                        <li><a href="searchC.aspx?m=34">培训基地</a></li>



                        <li><a href="listg.aspx?m=83">合作交流</a></li>



                        <li><a href="https://appo9qlkfdx2407.pc.xiaoe-tech.com" target=_blank>在线学习</a></li>

                        <li><a href="About.aspx?m=60">联系我们</a></li>


                    </ul>
                </div>
            </div>
        </div>

        <!--  banner  -->
        <div class="banner">
            <div class="con">
                <a href="#" class="prev">&lt;</a>
                <a href="#" class="next">&gt;</a>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <a href="">
                            <div class="imgBox" style="background-image: url(img/2020040911292321.jpg);"></div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="">
                            <div class="imgBox" style="background-image: url(img/2020040911292321.jpg);"></div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="">
                            <div class="imgBox" style="background-image: url(img/2020040911292321.jpg);"></div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="">
                            <div class="imgBox" style="background-image: url(img/2020040911292321.jpg);"></div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="">
                            <div class="imgBox" style="background-image: url(img/2020040911292321.jpg);"></div>
                        </a>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="hot">
            <span class="box-title">专家观点</span>
            <div class="page clearfix">
                <a href="listg.aspx?m=20" class="more">更多 &gt;</a>
                <div class="list">
                    <a href="javascript:;" class="active">1</a>
                    <a href="javascript:;">2</a>
                    <a href="javascript:;">3</a>
                </div>
            </div>
            <div class="content">
                <div class="list">

                    <a href="Show.aspx?n=270" class="item" style="display: block;">
                        <div class="item-header">全国中等职业教育满意度测评报告</div>
                        <div class="item-body">——我国中职教育改革发展取得了显著成绩。从此次调查结果看，成绩主要体现在如下方面：中职教育相对获得感增强，上轮满意度调查以来，我国中职教育的质量有所提升，给学生带来更多获得感，同时中职毕业生受到就业市场欢迎。和2016年相比，2019年全国中职学生就学满意度提高了5.36分，教育相对获得感提高了4.61分。中职教师的职业相对获得感提高了2.79分。超过70%的高年级学生都认为自己在专业技术技能、自信心和自我认识等方面取得较大提高。从测评结果看，全国有24个省份的中职教育发展水平能够满足甚至远远超出当地人民</div>
                    </a>

                    <a href="Show.aspx?n=267" class="item">
                        <div class="item-header">坚持职业教育改革转型发展正确方向</div>
                        <div class="item-body">_____ 职业教育是类型教育，泛指各类职业院校（包括技工院校）和职业技能培训，其办学特征与普通教育有着本质区别。在国家职业教育改革过程中，职业院校应如何回答“培养什么人，怎样培养人，为谁培养人”的问题，是当前需要深入研究解决的重大课题</div>
                    </a>

                    <a href="Show.aspx?n=259" class="item">
                        <div class="item-header">用终身教育思想发展职业教育</div>
                        <div class="item-body">＿＿行业企业发展进程是产业进步、技术革新的晴雨表和风向标。只有加强与行业企业的合作，职业院校办学才有可能走出象牙塔，才有可能与产业升级同步、与技术革新同步、与社会发展同步。要推动标准融合，打破职业院校与行业壁垒，开展职业（岗位）标准与人才培养标准一体化设计，推进专业设置、专业课程内容与职业标准相衔接，建立更多的经营性、生产性实习实训基地。要制定优惠政策，优化产教融合机制，吸引行业企业深度融入职业学校办学，主动参与人才培养，在中国推动更多产教融合型企业发展。要通过职业学校的融入以及企业自觉，建设更多的学习</div>
                    </a>

                </div>
            </div>
        </div>

        <div class="news">
            <div class="news-header clearfix">
                <div class="inner clearfix">
                    <a href="javascript:;" class="active">工作动态</a>
                    <a href="javascript:;">重要通知</a>
                </div>
                <a href="list.aspx?m=14" class="more">更多</a>
            </div>
            <div class="news-body">
                <div class="list" style="display: block;">
                    <ul>
                        <li class="clearfix"><span class="date">2020-09-06</span><a href="Show.aspx?n=250" class="title">置顶：本网版权与免责声明</a></li>
                        <li class="clearfix"><span class="date">2020-09-06</span><a href="Show.aspx?n=273" class="title">我所”茶文化与茶礼仪“学科研究与实践基地授牌仪式在郑举行</a></li>
                        <li class="clearfix"><span class="date">2020-08-21</span><a href="Show.aspx?n=269" class="title">喜讯：我所研究员获最高人民检察院立项课题</a></li>
                        <li class="clearfix"><span class="date">2020-07-23</span><a href="Show.aspx?n=264" class="title">第十一届中国管理创新大会(现场网络视频直播盛典)在京举办</a></li>
                        <li class="clearfix"><span class="date">2020-07-21</span><a href="Show.aspx?n=263" class="title">院学术委员会 《“十四五”时期管理科学重点课题指南》编制工作正式启动</a></li>
                    </ul>
                </div>
                <div class="list">
                    <ul>
                        <li class="clearfix"><span class="date">2020-09-24</span><a href="Show.aspx?n=275" class="title">关于开展家庭教育指导师的 通     知</a></li>
                        <li class="clearfix"><span class="date">2020-09-24</span><a href="Show.aspx?n=274" class="title">关于开展家庭经营智慧研修班的 通     知</a></li>
                        <li class="clearfix"><span class="date">2020-08-21</span><a href="Show.aspx?n=268" class="title">关于与北京盛世元鸿科技有限合作开展岗位技能培训的通知</a></li>
                        <li class="clearfix"><span class="date">2020-08-06</span><a href="Show.aspx?n=265" class="title">关于开展中国传统文化培训的 通知</a></li>
                        <li class="clearfix"><span class="date">2020-06-23</span><a href="Show.aspx?n=261" class="title">关于报送先进典型的通知</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="list">
                <ul class="clearfix">

                    <li>
                        <a href="searchC.aspx?m=77">
                            <img src="img/2020040911292321.jpg" />
                            <p>培训证书</p>
                        </a>
                    </li>

                    <li>
                        <a href="searchC.aspx?m=78">
                            <img src="img/2020040911292321.jpg" />
                            <p>特聘研究员</p>
                        </a>
                    </li>

                    <li>
                        <a href="searchC.aspx?m=34">
                            <img src="img/2020040911292321.jpg" />
                            <p>培训基地</p>
                        </a>
                    </li>

                    <li>
                        <a href="searchC.aspx?m=79">
                            <img src="img/2020040911292321.jpg" />
                            <p>荣誉证书</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="news" style="margin-top: 4px;">
            <div class="news-header clearfix">
                <div class="inner">
                    <a href="javascript:;" class="active">学者论述</a>
                    <a href="javascript:;">科普知识</a>
                </div>
                <a href="list.aspx?m=66" class="more">更多</a>
            </div>
            <div class="news-body">
                <div class="list" style="display: block;">
                    <ul>
                        <li class="clearfix"><span class="date">2020-07-21</span><a href="Show.aspx?n=262" class="title">职教研究如何发挥新型智库功能</a></li>
                        <li class="clearfix"><span class="date">2020-04-10</span><a href="Show.aspx?n=203" class="title">黄德宽：应保持传统文化教材的连续性</a></li>
                        <li class="clearfix"><span class="date">2018-06-20</span><a href="Show.aspx?n=206" class="title">金吉列郑应文：跨越时空 留学服务升级新方向</a></li>
                        <li class="clearfix"><span class="date">2013-06-10</span><a href="Show.aspx?n=207" class="title">民办教育协会副会长郑增仪：中国教育信息化</a></li>
                        <li class="clearfix"><span class="date">2010-04-19</span><a href="Show.aspx?n=205" class="title">家长必读：什么样的父母教出成功孩子？</a></li>
                    </ul>
                </div>
                <div class="list">
                    <ul>
                        <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=215" class="title">详解企业如何建立可信任的 AI | AI 成熟度调研</a></li>
                        <li class="clearfix"><span class="date">2019-01-26</span><a href="Show.aspx?n=218" class="title">“三星赶月”天象，月球会陆续追上木星、土星和火星</a></li>
                        <li class="clearfix"><span class="date">2018-01-08</span><a href="Show.aspx?n=216" class="title">宇宙那么大，我想去看看 | 世界航天日特辑</a></li>
                        <li class="clearfix"><span class="date">2013-01-28</span><a href="Show.aspx?n=217" class="title">【物理实验】科学史上最美的十大实验</a></li>
                        <li class="clearfix"><span class="date">2010-04-09</span><a href="Show.aspx?n=214" class="title">荐书|物联网商业：星辰大海的新商战</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="news">
            <div class="news-header clearfix">
                <div class="inner">
                    <a href="javascript:;" class="active">文化体育</a>
                    <a href="javascript:;">健康知识</a>
                </div>
                <a href="list.aspx?m=67" class="more">更多</a>
            </div>
            <div class="news-body">
                <div class="list" style="display: block;">
                    <ul>
                        <li class="clearfix"><span class="date">2020-08-06</span><a href="Show.aspx?n=266" class="title">扩大 旅游文化体育健康养老教育培训等领域消费</a></li>
                        <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=209" class="title">改革开放以来我国职业体育的发展历程</a></li>
                        <li class="clearfix"><span class="date">2019-04-09</span><a href="Show.aspx?n=208" class="title">中国体育职业化存在的表象问题与深度思考</a></li>
                        <li class="clearfix"><span class="date">2014-03-04</span><a href="Show.aspx?n=212" class="title">职业文体的成功案例分析——以近年来职业体育为例</a></li>
                        <li class="clearfix"><span class="date">2010-09-20</span><a href="Show.aspx?n=213" class="title">美国、意大利等国外职业体育聚乐部的可借鉴之处</a></li>
                    </ul>
                </div>
                <div class="list">
                    <ul>
                        <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=223" class="title">低脂肪+高碳水普里蒂金饮食的是与非！</a></li>
                        <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=222" class="title">【科普营养】不同食用油有啥区别？如何选？这4个坑千万别踩</a></li>
                        <li class="clearfix"><span class="date">2018-09-08</span><a href="Show.aspx?n=221" class="title">常年手脚冰凉，是怎么回事？看看中医如何调理</a></li>
                        <li class="clearfix"><span class="date">2016-03-06</span><a href="Show.aspx?n=220" class="title">会喝粥的人更长寿！三大误区千万别踩~春季常喝三碗粥，护肝又健脾</a></li>
                        <li class="clearfix"><span class="date">2010-04-20</span><a href="Show.aspx?n=219" class="title">【食疗有方】养生食疗“复脑膳”，预防中风促健康</a></li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="footer">
            <p>Copyright ©2018：中国管理科学研究院职业教育研究所主管 北京管科新职教育科技中心主办</p>
            <p>地 址：北京市石景山区26号院 </p>
            <p> <a href="http://beian.miit.gov.cn/" target="_blank">京ICP备20011664号</a> </p>
        </div>

    </div>



    <!--  jQuery 文件  -->
    <script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
    <!--轮播图-->
    <script src="/static/js/swiper.min.js"></script>
    <script>
        var bannerSwiper = new Swiper('.banner .swiper-container', {
            pagination: '.banner .swiper-pagination',
            autoplay: 5000,
            slidesPerView: 'auto',
            mousewheelControl: true,
            roundLengths: true,
            autoHeight: true,
            speed: 600
        });
        $(".banner .con .prev").click(function() {
            bannerSwiper.slidePrev();
        })
        $(".banner .con .next").click(function() {
            bannerSwiper.slideNext();
        })
        $(".hot .page .list a").click(function() {
            var thisIndex = $(this).index();
            $(this).addClass("active").siblings("a").removeClass("active");
            $(".hot .content .list .item:eq(" + thisIndex + ")").show().siblings(".item").hide();
        })

        $(".news .news-header .inner a").click(function() {
            var thisIndex = $(this).index();
            $(this).addClass("active").siblings("a").removeClass("active");
            $(this).parents(".news").find(".news-body .list:eq(" + thisIndex + ")").show().siblings(".list").hide();
        })
    </script>
    <script src="/static/js/common.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>