{% extends 'm/base.html' %}
{% block content %}
    <!--  banner  -->
    <div class="banner">
        <div class="con">
            <a href="#" class="prev">&lt;</a>
            <a href="#" class="next">&gt;</a>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <a href="">
                        <div class="imgBox" style="background-image: url(/static/img/a.png);"></div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="">
                        <div class="imgBox" style="background-image: url(/static/img/b.png);"></div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="">
                        <div class="imgBox" style="background-image: url(/static/img/c.png);"></div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="">
                        <div class="imgBox" style="background-image: url(/static/img/d.png);"></div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="">
                        <div class="imgBox" style="background-image: url(/static/img/e.png);"></div>
                    </a>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">动态<span
            style="margin-left: 1%; margin-right: 1%;">•</span>通知</h1>
    <div class="hot">
        <span class="box-title">置顶信息</span>
        <div class="page clearfix">
            <a href="/info/9/" class="more">更多 &gt;</a>
            <div class="list">
                <a href="javascript:;" class="active">1</a>
                <a href="javascript:;">2</a>
                <a href="javascript:;">3</a>
            </div>
        </div>
        <div class="content">
            <div class="list">

                <a href="Show.aspx?n=270" class="item" style="display: block;">
                    <div class="item-header">全国中等职业教育满意度测评报告</div>
                    <div class="item-body">
                        ——我国中职教育改革发展取得了显著成绩。从此次调查结果看，成绩主要体现在如下方面：中职教育相对获得感增强，上轮满意度调查以来，我国中职教育的质量有所提升，给学生带来更多获得感，同时中职毕业生受到就业市场欢迎。和2016年相比，2019年全国中职学生就学满意度提高了5.36分，教育相对获得感提高了4.61分。中职教师的职业相对获得感提高了2.79分。超过70%的高年级学生都认为自己在专业技术技能、自信心和自我认识等方面取得较大提高。从测评结果看，全国有24个省份的中职教育发展水平能够满足甚至远远超出当地人民
                    </div>
                </a>

                <a href="Show.aspx?n=267" class="item">
                    <div class="item-header">坚持职业教育改革转型发展正确方向</div>
                    <div class="item-body">_____
                        职业教育是类型教育，泛指各类职业院校（包括技工院校）和职业技能培训，其办学特征与普通教育有着本质区别。在国家职业教育改革过程中，职业院校应如何回答“培养什么人，怎样培养人，为谁培养人”的问题，是当前需要深入研究解决的重大课题
                    </div>
                </a>

                <a href="Show.aspx?n=259" class="item">
                    <div class="item-header">用终身教育思想发展职业教育</div>
                    <div class="item-body">
                        ＿＿行业企业发展进程是产业进步、技术革新的晴雨表和风向标。只有加强与行业企业的合作，职业院校办学才有可能走出象牙塔，才有可能与产业升级同步、与技术革新同步、与社会发展同步。要推动标准融合，打破职业院校与行业壁垒，开展职业（岗位）标准与人才培养标准一体化设计，推进专业设置、专业课程内容与职业标准相衔接，建立更多的经营性、生产性实习实训基地。要制定优惠政策，优化产教融合机制，吸引行业企业深度融入职业学校办学，主动参与人才培养，在中国推动更多产教融合型企业发展。要通过职业学校的融入以及企业自觉，建设更多的学习
                    </div>
                </a>

            </div>
        </div>
    </div>

    <div class="news">
        <div class="news-header clearfix">
            <div class="inner clearfix">
                <a href="javascript:;" class="active">工作动态</a>
                <a href="javascript:;">重要通知</a>
            </div>
            <a href="/info/9/" class="more">更多</a>
        </div>
        <div class="news-body">
            <div class="list" style="display: block;">
                <ul>
                    <li class="clearfix"><span class="date">2020-09-06</span><a href="Show.aspx?n=250" class="title">置顶：本网版权与免责声明</a>
                    </li>
                    <li class="clearfix"><span class="date">2020-09-06</span><a href="Show.aspx?n=273" class="title">我所”茶文化与茶礼仪“学科研究与实践基地授牌仪式在郑举行</a>
                    </li>
                    <li class="clearfix"><span class="date">2020-08-21</span><a href="Show.aspx?n=269" class="title">喜讯：我所研究员获最高人民检察院立项课题</a>
                    </li>
                    <li class="clearfix"><span class="date">2020-07-23</span><a href="Show.aspx?n=264" class="title">第十一届中国管理创新大会(现场网络视频直播盛典)在京举办</a>
                    </li>
                    <li class="clearfix"><span class="date">2020-07-21</span><a href="Show.aspx?n=263" class="title">院学术委员会
                        《“十四五”时期管理科学重点课题指南》编制工作正式启动</a></li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li class="clearfix"><span class="date">2020-09-24</span><a href="Show.aspx?n=275" class="title">关于开展家庭教育指导师的
                        通 知</a></li>
                    <li class="clearfix"><span class="date">2020-09-24</span><a href="Show.aspx?n=274" class="title">关于开展家庭经营智慧研修班的
                        通 知</a></li>
                    <li class="clearfix"><span class="date">2020-08-21</span><a href="Show.aspx?n=268" class="title">关于与北京盛世元鸿科技有限合作开展岗位技能培训的通知</a>
                    </li>
                    <li class="clearfix"><span class="date">2020-08-06</span><a href="Show.aspx?n=265" class="title">关于开展中国传统文化培训的
                        通知</a></li>
                    <li class="clearfix"><span class="date">2020-06-23</span><a href="Show.aspx?n=261" class="title">关于报送先进典型的通知</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">
        信息查询</h1>
    <div class="menu">
        <div class="list">
            <ul class="clearfix">

                <li>
                    <a href="http://www.camec.org.cn/m/searchC.aspx?m=77" target="_blank">
                        <img src="/static/img/a.png"/>
                        <p>技能证书</p>
                    </a>
                </li>

                <li>
                    <a ref="http://www.camec.org.cn/m/searchC.aspx?m=78" target="_blank">
                        <img src="/static/img/b.png"/>
                        <p>特聘研究员</p>
                    </a>
                </li>

                <li>
                    <a href="http://www.camec.org.cn/m/searchC.aspx?m=79" target="_blank">
                        <img src="/static/img/c.png"/>
                        <p>荣誉证书</p>
                    </a>
                </li>
                <li>
                    <a href="http://www.camec.org.cn/m/searchC.aspx?m=80" target="_blank">
                        <img src="/static/img/d.png"/>
                        <p>行业专家</p>
                    </a>
                </li>

            </ul>
        </div>
        <div class="list">
            <ul class="clearfix">

                <li>
                    <a href="http://www.camec.org.cn/m/searchC.aspx?m=81" target="_blank">
                        <img src="/static/img/e.png"/>
                        <p>学术顾问</p>
                    </a>
                </li>

                <li>
                    <a href="searchC.aspx?m=78">
                        <img src="/static/img/f.png"/>
                        <p>培训基地</p>
                    </a>
                </li>

                <li>
                    <a href="searchC.aspx?m=79">
                        <img src="/static/img/g.png"/>
                        <p>立项课题</p>
                    </a>
                </li>
                <li>
                    <a href="searchC.aspx?m=34">
                        <img src="/static/img/h.png"/>
                        <p>结项课题</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">
        学术资讯</h1>
    <div class="news" style="margin-top: 4px;">
        <div class="news-header clearfix">
            <div class="inner">
                <a href="javascript:;" class="active">专家观点</a>
                <a href="javascript:;">知识科普</a>
            </div>
            <a href="/info/01/" class="more">更多</a>
        </div>
        <div class="news-body">
            <div class="list" style="display: block;">
                <ul>
                    <li class="clearfix"><span class="date">2020-07-21</span><a href="Show.aspx?n=262" class="title">xxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2020-04-10</span><a href="Show.aspx?n=203" class="title">xxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2018-06-20</span><a href="Show.aspx?n=206" class="title">xxxxxxxxxxxxxxxxxxxxxx</a></li>
                    <li class="clearfix"><span class="date">2013-06-10</span><a href="Show.aspx?n=207" class="title">xxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2010-04-19</span><a href="Show.aspx?n=205" class="title">xxxxxxxxxxxxxxxxxxx</a>
                    </li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=215" class="title">xxxxxxxxxxxxxxxxxxxx</a></li>
                    <li class="clearfix"><span class="date">2019-01-26</span><a href="Show.aspx?n=218" class="title">xxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2018-01-08</span><a href="Show.aspx?n=216" class="title">xxxxxxxxxxxxxxxxx</a></li>
                    <li class="clearfix"><span class="date">2013-01-28</span><a href="Show.aspx?n=217" class="title">xxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2010-04-09</span><a href="Show.aspx?n=214" class="title">xxxxxxxxxxxxxxxxxxx</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="news">
        <div class="news-header clearfix">
            <div class="inner">
                <a href="javascript:;" class="active">学者论述</a>
                <a href="javascript:;">学术研究</a>
            </div>
            <a href="/info/03/" class="more">更多</a>
        </div>
        <div class="news-body">
            <div class="list" style="display: block;">
                <ul>
                    <li class="clearfix"><span class="date">2020-08-06</span><a href="Show.aspx?n=266" class="title">扩大
                        旅游文化体育健康养老教育培训等领域消费</a></li>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=209" class="title">xxxxxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2019-04-09</span><a href="Show.aspx?n=208" class="title">xxxxxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2014-03-04</span><a href="Show.aspx?n=212" class="title">xxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2010-09-20</span><a href="Show.aspx?n=213" class="title">xxxxxxxxxxxxxxxxxxxxxxx</a>
                    </li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=223" class="title">xxxxxxxxxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=222" class="title">xxxxxxxxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2018-09-08</span><a href="Show.aspx?n=221" class="title">xxxxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2016-03-06</span><a href="Show.aspx?n=220" class="title">xxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2010-04-20</span><a href="Show.aspx?n=219" class="title">xxxxxxxxxxxxxxxx</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">
        风土文化</h1>
    <div class="news">
        <div class="news-header clearfix">
            <div class="inner">
                <a href="javascript:;" class="active">自然景观</a>
                <a href="javascript:;">好物推荐</a>
            </div>
            <a href="/info/20/" class="more">更多</a>
        </div>
        <div class="news-body">
            <div class="list" style="display: block;">
                <ul>
                    <li class="clearfix"><span class="date">2020-08-06</span><a href="Show.aspx?n=266" class="title">扩大
                        旅游文化体育健康养老教育培训等领域消费</a></li>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=209" class="title">xxxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2019-04-09</span><a href="Show.aspx?n=208" class="title">xxxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2014-03-04</span><a href="Show.aspx?n=212" class="title">xxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2010-09-20</span><a href="Show.aspx?n=213" class="title">xxxxxxxxxxxxxxxxxxxx</a>
                    </li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=223" class="title">xxxxxxxxxxxxxxxx！</a>
                    </li>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=222" class="title">xxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2018-09-08</span><a href="Show.aspx?n=221" class="title">xxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2016-03-06</span><a href="Show.aspx?n=220" class="title">xxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2010-04-20</span><a href="Show.aspx?n=219" class="title">xxxxxxxxxxxxxxxxx</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="news-header clearfix">
            <div class="inner">
                <a href="javascript:;" class="active">体育文化</a>
                <a href="javascript:;">健康知识</a>
            </div>
            <a href="/info/003/" class="more">更多</a>
        </div>
        <div class="news-body">
            <div class="list" style="display: block;">
                <ul>
                    <li class="clearfix"><span class="date">2020-08-06</span><a href="Show.aspx?n=266" class="title">xxxxxxxxxxxxxxxxxxxx</a></li>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=209" class="title">xxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2019-04-09</span><a href="Show.aspx?n=208" class="title">xxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2014-03-04</span><a href="Show.aspx?n=212" class="title">xxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2010-09-20</span><a href="Show.aspx?n=213" class="title">xxxxxxxxxxxxxxxxxxx</a>
                    </li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=223" class="title">xxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2020-04-14</span><a href="Show.aspx?n=222" class="title">xxxxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2018-09-08</span><a href="Show.aspx?n=221" class="title">xxxxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2016-03-06</span><a href="Show.aspx?n=220" class="title">xxxxxxxxxxxxxxx</a>
                    </li>
                    <li class="clearfix"><span class="date">2010-04-20</span><a href="Show.aspx?n=219" class="title">xxxxxxxxxxxxxx</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="news-header clearfix">
            <div class="inner">
                <a href="javascript:;" class="active">文学欣赏</a>
            </div>
            <a href="/info/002/" class="more">更多</a>
        </div>
        <div class="news-body">
            <div class="list" style="display: block;">
                <div style="text-align: center">
                    <a href="Show.aspx?n=266" class="title">
                        <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg "/>
                        <p>xxxxxxxxxxxx</p>
                    </a>
                </div>
                <div style="text-align: center">
                    <a href="Show.aspx?n=266" class="title">
                        <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg "/>
                        <p>xxxxxxxxxxxxx</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="news">
        <div class="news-header clearfix">
            <div class="inner">
                <a href="javascript:;" class="active">风土人情</a>
            </div>
            <a href="/info/001/" class="more">更多</a>
        </div>

        <div class="news-body">
            <div class="list" style="display: block;">
                <div style="text-align: center">
                    <a href="Show.aspx?n=266" class="title">
                        <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg "/>
                        <p>xxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </a>
                </div>
                <div style="text-align: center">
                    <a href="Show.aspx?n=266" class="title">
                        <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg "/>
                        <p>xxxxxxxxxxxxxxxxx</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">合作单位</h1>
    <div class="news" style="font-size: 24px; text-align: center">
        <div>xxxxxxxx</div>
        <div>xxxxxxxx</div>
        <div>xxxxxxxx</div>
    </div>

    <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">推荐网站</h1>
        <div class="news" style="font-size: 24px; text-align: center">
        <div>xxxxxxxx</div>
        <div>xxxxxxxx</div>
        <div>xxxxxxxx</div>
    </div>

    <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">培训网站</h1>
        <div class="news" style="font-size: 24px; text-align: center">
        <div>xxxxxxxx</div>
        <div>xxxxxxxx</div>
        <div>xxxxxxxx</div>
    </div>

{% endblock %}