{% extends 'm/base.html' %}
{#这公司真垃圾！！！！ 不要来啦#}
{% block content %}
    <div class="bread">
        <div class="inner">
            <a href="/">首页</a><span>&gt;</span><a href="javascript:;">{{ first_name }} </a>
            {% if second_name %}
                <span>&gt;</span><a href="javascript:;">{{ second_name }}</a>
            {% endif %}
        </div>
    </div>

    <div class="small-nav">
        <div class="small-nav-header clearfix">
            <img src="/static/img/down.jpg"/>
            <span>{{ second_name }}</span>
        </div>
        <div class="small-nav-body">
            {% for k,v in nav.items %}
                <a href="/info/{{ k }}/">{{ v }}</a>
            {% endfor %}

        </div>
    </div>

    <div class="notice">
        <div class="list">
            <ul>

                <li><a href="Show.aspx?n=270">xxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=267">xxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=259">xxxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=97">xxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=96">xxxxxxxxxxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=95">xxxxxxxxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=94">xxxxxxxxxxxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=93">xxxxxxxxxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=92">xxxxxxxxxxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=91">xxxxxxxxxxxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=90">xxxxxxxxxxxxxxxxxxxxxxxx</a></li>

                <li><a href="Show.aspx?n=86">xxxxxxxxxxxxxxxx</a></li>

            </ul>
        </div>
        <div id="PageContent" class="pages"></div>
    </div>

{% endblock %}