<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html>

<head>
    <meta charset="utf-8">
    <title>中国管理科学研究院职业教育研究所西南中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name=" apple-mobile-web-app-status-bar-style"/>
    <meta content="email=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11,12"/>

    <meta name="keywords" content="职业教育研究所西南中心"/>
    <meta name="description" content="职业教育 研究所 中管院"/>

{#    <link rel="Shortcut Icon" href="img/common-img/ShortcutIcon.ico"/>#}

    <link href="/static/css/awes1.css" rel=" stylesheet ">

    <link type="text/css " rel="stylesheet " href="/static/css/reset.css "/>

    <!--  swiper  -->
    <link rel="stylesheet " type="text/css " href="/static/css/swiper.min.css "/>
    <!--网页公用 CSS部分-->
    <link type="text/css " rel="stylesheet " href="/static/css/common.css "/>
    <!--内容部分 CSS-->
    <link type="text/css " rel="stylesheet " href="/static/css/style.css "/>


</head>

<body>


<script src="/static/js/pc_or_mobile.js "></script>
<script>
    browserRedirect('pc')
</script>
<!--header-->
<div class="pageTop ">
    <div class="container clearfix ">
        <span class="week"></span>

        <div class="linkMy ">
            <div class="search ">
                <form action="/search.aspx " name="form1 " method="get " class="clearfix " style="height: 20px">
                    <div class="input " >
                        <i class="fa fa-search" style="margin-top: 2.5%"></i>
                        <input type="text " id="key " name="key " placeholder="搜索 "/>
                    </div>
                    <input type="submit" class="submitBtn" id="testSach" value="搜索 ">
                </form>
            </div>

        </div>
        <div class="link clearfix " style="margin-right: 10%;">
            <a href=" ">E-Mail: xxxxxxxxxx.com</a>
        </div>

        <div class="link">
            <a href="javascript:;">
                <img src="/static/img/icon-weixin.jpg" style="margin-top: 5px">
                <span>微信公众号</span>
                <img class="qrcode" src="/static/img/icon-weixin.jpg">
            </a>
        </div>
    </div>

</div>

<div class="header ">
    <div class="container clearfix ">
        <a href="/ " class="logo "  ">
            <img src="/static/img/logo.jpg " >
        </a>

    </div>
</div>

<div class="nav ">
    <div class="container ">
        <ul class="clearfix ">
            <li class="firstItem "><a href="/ ">首页</a></li>

            <li class="firstItem ">
                <a href="/info/18/ ">机构介绍</a>
                <div class="navSub ">
                    <ul>

                        <li><a href="/info/18/ ">机构简介</a></li>

                        <li><a href="/info/26/ ">组织机构</a></li>

                        <li><a href="/info/27/ ">主要领导</a></li>

                        <li><a href="/info/44/ ">发展记录</a></li>

                    </ul>
                </div>
            </li>

            <li class="firstItem ">
                <a href="/info/9/ ">通知公告</a>
                <div class="navSub ">
                    <ul>

                        <li><a href="/info/9/ ">重要通知</a></li>

                        <li><a href="/info/74/ ">人事安排</a></li>

                        <li><a href="/info/75/ ">工作动态</a></li>

                    </ul>
                </div>
            </li>
            <li class="firstItem ">
                <a href="/info/16/ ">课题研究</a>
                <div class="navSub ">
                    <ul>

                        <li><a href="/info/16/ ">课题立项</a></li>

                        <li><a href="/info/30/ ">课题公示</a></li>

                        <li><a href="/info/51/ ">课题结项</a></li>

                        <li><a href="/info/52/ ">学术成果</a></li>
                    </ul>
                </div>
            </li>
            <li class="firstItem ">
                <a href="/info/01/ ">学术资讯</a>
                <div class="navSub ">
                    <ul>

                        <li><a href="/info/01/ ">专家观点</a></li>

                        <li><a href="/info/02/ ">知识科普</a></li>

                        <li><a href="/info/03/ ">学者论述</a></li>

                        <li><a href="/info/04/ ">学术研究</a></li>
                    </ul>
                </div>
            </li>
            <li class="firstItem ">
                <a href="/info/34/ ">教育培训</a>
                <div class="navSub ">
                    <ul>

                        <li><a href="/info/34/ ">基地查询</a></li>

                        <li><a href="/info/82/ ">基地风采</a></li>

                    </ul>
                </div>
            </li>
            <li class="firstItem ">
                <a href="/info/83/ ">合作交流</a>
                <div class="navSub ">
                    <ul>
                        <li><a href="/info/57/ ">合作项目</a></li>
                        <li><a href="/info/83/ ">成果展示</a></li>
                    </ul>
                </div>
            </li>
            <li class="firstItem ">
                <a href="/info/20/ ">风土文化</a>
                <div class="navSub ">
                    <ul>

                        <li><a href="/info/20/ ">自然景观</a></li>

                        <li><a href="/info/31/ ">好物推荐</a></li>
                        <li><a href="/info/001/ ">风土人情</a></li>
                        <li><a href="/info/002/ ">文学欣赏</a></li>
                        <li><a href="/info/003/">体育文化</a></li>
                        <li><a href="/info/004/ ">健康知识</a></li>


                    </ul>
                </div>
            </li>
            <li class="firstItem ">
                <a href="/info/77/ ">证书查询</a>
                <div class="navSub ">
                    <ul>

                        <li><a href="/info/77/ ">专业人才技能证书</a></li>

                        <li><a href="/info/78/ ">特聘研究员</a></li>

                        <li><a href="/info/79/ ">荣誉证书</a></li>

                        <li><a href="/info/80/ ">行业专家</a></li>

                        <li><a href="/info/81/ ">学术顾问</a></li>

                    </ul>
                </div>
            </li>
            <li class="firstItem "><a href="https://appo9qlkfdx2407.pc.xiaoe-tech.com " target=_blank>在线学习</a></li>
            <li class="firstItem "><a href="/info/60/ ">联系我们</a></li>


        </ul>
    </div>
</div>


{% block content %}{% endblock %}


<br/>
<br/>
<br/>
<br/>


<div class="footer ">
    <div class="container ">
        <p>Copyright ©2020: xxxxxxxxx</p>
        <p>地 址：xxxxxxxxxxx</p>
        <p><a href="http://beian.miit.gov.cn/ " target="_blank ">京ICP备xxxxx号</a></p>
    </div>
</div>

<script src="/static/js/jquery-1.12.3.min.js "></script>
<script>
    writeCurrentDate();

    function writeCurrentDate() {
        var now = new Date();
        var year = now.getFullYear(); //得到年份
        var month = now.getMonth(); //得到月份
        var date = now.getDate(); //得到日期
        var day = now.getDay(); //得到周几
        var hour = now.getHours(); //得到小时
        var minu = now.getMinutes(); //得到分钟
        var sec = now.getSeconds(); //得到秒
        var MS = now.getMilliseconds(); //获取毫秒
        var week;
        month = month + 1;
        if (month < 10) month = "0 " + month;
        if (date < 10) date = "0 " + date;
        if (hour < 10) hour = "0 " + hour;
        if (minu < 10) minu = "0 " + minu;
        if (sec < 10) sec = "0 " + sec;
        if (MS < 100) MS = "0 " + MS;
        var arr_week = new Array("星期日 ", "星期一 ", "星期二 ", "星期三 ", "星期四 ", "星期五 ", "星期六 ");
        week = arr_week[day];
        var time = " ";
        time = year + "年 " + month + "月 " + date + "日 " + " " + hour + ": " + minu + ": " + sec + " " + week;
        //当前日期赋值给当前日期输入框中（jQuery easyUI）
        $(".week ").html(time);
        //设置得到当前日期的函数的执行间隔时间，每1000毫秒刷新一次。
        var timer = setTimeout("writeCurrentDate() ", 1000);
    }
</script>

<!--  jquery  -->
<script src="/static/js/jquery-1.12.3.min.js "></script>
<script type="text/javascript ">
    $(function () {
        $(".index-news .newsList .child:first-child ").show();
        $(".titleChange .title-box .list ul li ").click(function () {
            var index = $(this).index();
            console.log(index)
            $(this).addClass("active ").siblings("li ").removeClass("active ");
            $(this).parents(".inner ").find(".newsList .child:eq( " + index + ") ").show().siblings(".child ").hide();

        })
        $(".hotNews .pagination span ").mouseover(function () {
            var index = $(this).index();
            $(this).addClass("active ").siblings("span ").removeClass("active ");
            $(".hotNews .list ul li:eq( " + index + ") ").show().siblings("li ").hide();
        })
    })
</script>

<script src="/static/js/swiper.min.js " type="text/javascript " charset="utf-8 "></script>
<script>
    var mySwiper = new Swiper('.banner .swiper-container', {
        pagination: '.banner .pagination',
        paginationClickable: true,
        keyboardControl: true,
        autoplay: 6000,
        speed: 600,
        loop: true,
        calculateHeight: true,
        resizeReInit: true
    })
    $(".banner a.prev_btn ").click(function () {
        console.log('prev_btn')
        mySwiper.slidePrev();
    })

    $(".banner a.next_btn ").click(function () {
        mySwiper.slideNext();
    })
</script>
<script src="/static/js/common.js " type="text/javascript " charset="utf-8 "></script>

</body>

</html>