{% extends 'pc/base.html' %}
{% block content %}
    <div class="index-news index-hot ">
        <div class="container ">
            <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">动态<span
                    style="margin-left: 1%; margin-right: 1%;">•</span>通知</h1>
            <div class="box clearfix ">
                <div class="box-item ">
                    <div class="banner banner-style ">
                        <div class="con clearfix ">
                            <a href="javascript:; " class="prev_btn ">
                                <i class="fa fa-angle-left " style="margin-top: 30%"></i>
                            </a>
                            <a href="javascript:; " class="next_btn ">
                                <i class="fa fa-angle-right " style="margin-top: 30%"></i>
                            </a>
                        </div>
                        <div class="swiper-container ">
                            <div class="swiper-wrapper ">

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200906/2020090613045835.jpg); "
                                       class="bg_cover " href=" "></a>
                                </div>

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200821/2020082117395201.png); "
                                       class="bg_cover " href=" "></a>
                                </div>

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200723/2020072313032629.jpg); "
                                       class="bg_cover " href=" "></a>
                                </div>

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200410/2020041015495797.jpg); "
                                       class="bg_cover " href=" "></a>
                                </div>

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200428/2020042811242648.jpg); "
                                       class="bg_cover " href=" "></a>
                                </div>

                            </div>
                            <div class="pagination "></div>
                        </div>
                    </div>
                </div>
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="hotNews ">

                            <div class="tag"><img src="/static/img/tt.png"
                                                  style="height: 60% ;width: 20%;margin-top: 6%">&nbsp;&nbsp;置顶信息
                            </div>
                            <div class="pagination ">
                                <span class="active ">1</span>
                                <span>2</span>
                                <span>3</span>
                                <a href="/info/9/ ">更多&nbsp;&gt;</a>
                            </div>
                            <div class="list " style="">
                                <ul>

                                    <li style="display: block; ">
                                        <a href="Show.aspx?n=270 ">
                                            <div class="title">
                                                xxxxxxxxxxxxx
                                            </div>
                                            <div class="desc ">
                                                ——xxxxxxxxxxxxxxxxxxxxxx
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="Show.aspx?n=267 ">
                                            <div class="title "> xxxxxxxxxxxxx
                                            </div>
                                            <div class="desc ">--
                                                xxxxxxxxxxxxxxxxxxxxxxxxx
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="Show.aspx?n=259 ">
                                            <div class="title ">xxxxxxxxxxxxxxx</div>
                                            <div class="desc ">
                                                --xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">工作动态</li>
                                    <li>重要通知</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/9/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--工作动态-->
                            <div class="child ">

                                <ul>
                                    <li class="clearfix "><span class="date ">2020-09-06</span>
                                        <div class="title "><a href="Show.aspx?n=250 ">置顶：xxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-09-06</span>
                                        <div class="title "><a href="Show.aspx?n=273 ">xxxxxxxxxxx/a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-08-21</span>
                                        <div class="title "><a href="Show.aspx?n=269 ">xxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-07-23</span>
                                        <div class="title "><a href="Show.aspx?n=264 ">xxxxxxxxxxxxxxxxxxxx</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-07-21</span>
                                        <div class="title "><a href="Show.aspx?n=263 ">xxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--重要通知-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-09-24</span>
                                        <div class="title "><a href="Show.aspx?n=275 ">xxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-09-24</span>
                                        <div class="title "><a href="Show.aspx?n=274 ">xxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-08-21</span>
                                        <div class="title "><a href="Show.aspx?n=268 ">xxxxxxxxxxxxxxxxxxxxxxxx</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-08-06</span>
                                        <div class="title "><a href="Show.aspx?n=265 ">xxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-06-23</span>
                                        <div class="title "><a href="Show.aspx?n=261 ">xxxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu ">
        <div class="container ">
            <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">
                信息查询</h1>
            <div class="list ">
                <ul class="clearfix ">

                    <li>
                        <a href="http://www.camec.org.cn/searchC.aspx?m=77" target="_blank">
                            <img src="/static/img/a.png "/>
                            <p>技能证书</p>
                        </a>
                    </li>

                    <li>
                        <a href="http://www.camec.org.cn/searchC.aspx?m=78" target="_blank">
                            <img src="/static/img/b.png "/>
                            <p>特聘研究员</p>
                        </a>
                    </li>

                    <li>
                        <a href="http://www.camec.org.cn/searchC.aspx?m=79" target="_blank">
                            <img src="/static/img/c.png "/>
                            <p>荣誉证书</p>
                        </a>
                    </li>

                    <li>
                        <a href="http://www.camec.org.cn/searchC.aspx?m=80" target="_blank">
                            <img src="/static/img/d.png"/>
                            <p>行业专家</p>
                        </a>
                    </li>

                    <li>
                        <a href="http://www.camec.org.cn/searchC.aspx?m=81" target="_blank">
                            <img src="/static/img/e.png"/>
                            <p>学术顾问</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/34/ ">
                            <img src="/static/img/f.png "/>
                            <p>培训基地</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/16/ ">
                            <img src="/static/img/g.png"/>
                            <p>立项课题</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/51/ ">
                            <img src="/static/img/h.png "/>
                            <p>结项课题</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="index-news ">
        <div class="container ">
            <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">
                学术资讯</h1>
            <div class="box clearfix ">
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">专家观点</li>
                                    <li>知识科普</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/01/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--学者论述-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-07-21</span>
                                        <div class="title "><a href="Show.aspx?n=262 ">xxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-10</span>
                                        <div class="title "><a href="Show.aspx?n=203 ">xxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2018-06-20</span>
                                        <div class="title "><a href="Show.aspx?n=206 ">xxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2013-06-10</span>
                                        <div class="title "><a href="Show.aspx?n=207 ">xxxxx：xxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2010-04-19</span>
                                        <div class="title "><a href="Show.aspx?n=205 ">xxxx：xxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--科普知识-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=215 ">xxxxxxxxxxxxxxxxxxxxxxxxx</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2019-01-26</span>
                                        <div class="title "><a href="Show.aspx?n=218 ">xxxxxxxxxxxxxxxxx/a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2018-01-08</span>
                                        <div class="title "><a href="Show.aspx?n=216 ">xxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2013-01-28</span>
                                        <div class="title "><a href="Show.aspx?n=217 ">xxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2010-04-09</span>
                                        <div class="title "><a href="Show.aspx?n=214 ">xxxxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">学者论述</li>
                                    <li>学术研究</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/03/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--文化体育-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-08-06</span>
                                        <div class="title "><a href="Show.aspx?n=266 ">xxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=209 ">xxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2019-04-09</span>
                                        <div class="title "><a href="Show.aspx?n=208 ">xxxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2014-03-04</span>
                                        <div class="title "><a href="Show.aspx?n=212 ">xxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2010-09-20</span>
                                        <div class="title "><a href="Show.aspx?n=213 ">xxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--健康知识-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=223 ">xxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=222 ">xxxxxxxxxxxxxxxxxxxx</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2018-09-08</span>
                                        <div class="title "><a href="Show.aspx?n=221 ">xxxxxxxxxxxxxxxxx/a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2016-03-06</span>
                                        <div class="title "><a
                                                href="Show.aspx?n=220 ">xxxxxxxxxxxxx</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2010-04-20</span>
                                        <div class="title "><a href="Show.aspx?n=219 ">xxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="index-news ">
        <div class="container ">
            <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">
                风土文化</h1>
            <div class="imgList ">
                <ul class="clearfix ">

                    <li>
                        <a>
                            <img src="http://www.camec.org.cn/upload/20200806/2020080612145218.jpg "/>

                        </a>
                    </li>

                    <li>
                        <a>
                            <img src="http://www.camec.org.cn/upload/20200418/2020041811185698.jpg "/>

                        </a>
                    </li>

                    <li>
                        <a>
                            <img src="http://www.camec.org.cn/upload/20200410/2020041017300992.jpg "/>

                        </a>
                    </li>

                </ul>
            </div>
            <div class="box clearfix ">
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">自然景观</li>
                                    <li>好物推荐</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/20/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--自然景观-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-09-06</span>
                                        <div class="title "><a href="Show.aspx?n=272 ">xxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-06-22</span>
                                        <div class="title "><a href="Show.aspx?n=258 ">xxxxxxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=227 ">xxxxxxxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=225 ">xxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2019-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=224 ">xxxxxxxxxxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--好物推荐-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=249 ">xxxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=248 ">xxxxxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">体育文化</li>
                                    <li>健康知识</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/003/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--学术资讯-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-09-06</span>
                                        <div class="title "><a href="Show.aspx?n=271 ">xxxxxxxxxxxxxxxxxxxx/a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-05-07</span>
                                        <div class="title "><a href="Show.aspx?n=255 ">xxxxxxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2019-05-20</span>
                                        <div class="title "><a href="Show.aspx?n=256 ">xxxxxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2018-06-27</span>
                                        <div class="title "><a href="Show.aspx?n=254 ">xxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2017-05-30</span>
                                        <div class="title "><a href="Show.aspx?n=257 ">xxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--世界风土人情-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=247 ">xxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=246 ">xxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=245 ">xxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=244 ">xxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=243 ">xxxxxxxxxxxxxxxxxxxx</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box clearfix ">
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">文学欣赏</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/002/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--书画欣赏-->
                            <div class="child ">

                                <div class="imgList2 clearfix ">

                                    <div class="item clearfix ">
                                        <a href="Show.aspx?n=235 " class="inner ">
                                            <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg "/>
                                            <p>xxxxxxxxxxxxxxxxxx</p>
                                        </a>
                                    </div>

                                    <div class="item clearfix ">
                                        <a href="Show.aspx?n=233 " class="inner ">
                                            <img src="http://www.camec.org.cn/upload/20200414/2020041416451314.jpg "/>
                                            <p>xxxxxxxxxxxxxxxxx</p>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <!--知名散文-->
                            <div class="child ">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">风土人情</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/001/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--书画欣赏-->
                            <div class="child ">

                                <div class="imgList2 clearfix ">

                                    <div class="item clearfix ">
                                        <a href="Show.aspx?n=235 " class="inner ">
                                            <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg "/>
                                            <p>xxxxxxxxxxxxxxxxxxxxxxxx</p>
                                        </a>
                                    </div>

                                    <div class="item clearfix ">
                                        <a href="Show.aspx?n=233 " class="inner ">
                                            <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg"/>
                                            <p>xxxxxxxxxxxxxxxx</p>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <!--知名散文-->
                            <div class="child ">
                                <ul></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <h2 style="font-weight: bold; font-size: 24px; margin-top: 10%">合作单位</h2>
            <div class="box clearfix">
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
            </div>
            <h2 style="font-weight: bold; font-size: 24px; margin-top: 4%">推荐网站</h2>
            <div class="box clearfix">
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
            </div>
            <h2 style="font-weight: bold; font-size: 24px; margin-top: 4%">培训机构</h2>
            <div class="box clearfix">
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
            </div>
        </div>
    </div>


{% endblock %}