{% extends 'pc/base.html' %}
{% block content %}
    <div class="index-news index-hot ">
        <div class="container ">
            <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">动态<span
                    style="margin-left: 1%; margin-right: 1%;">•</span>通知</h1>
            <div class="box clearfix ">
                <div class="box-item ">
                    <div class="banner banner-style ">
                        <div class="con clearfix ">
                            <a href="javascript:; " class="prev_btn ">
                                <i class="fa fa-angle-left " style="margin-top: 30%"></i>
                            </a>
                            <a href="javascript:; " class="next_btn ">
                                <i class="fa fa-angle-right " style="margin-top: 30%"></i>
                            </a>
                        </div>
                        <div class="swiper-container ">
                            <div class="swiper-wrapper ">

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200906/2020090613045835.jpg); "
                                       class="bg_cover " href=" "></a>
                                </div>

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200821/2020082117395201.png); "
                                       class="bg_cover " href=" "></a>
                                </div>

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200723/2020072313032629.jpg); "
                                       class="bg_cover " href=" "></a>
                                </div>

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200410/2020041015495797.jpg); "
                                       class="bg_cover " href=" "></a>
                                </div>

                                <div class="swiper-slide ">
                                    <a style="background-image: url(http://www.camec.org.cn/upload/20200428/2020042811242648.jpg); "
                                       class="bg_cover " href=" "></a>
                                </div>

                            </div>
                            <div class="pagination "></div>
                        </div>
                    </div>
                </div>
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="hotNews ">

                            <div class="tag"><img src="/static/img/tt.png"
                                                  style="height: 60% ;width: 20%;margin-top: 6%">&nbsp;&nbsp;置顶信息
                            </div>
                            <div class="pagination ">
                                <span class="active ">1</span>
                                <span>2</span>
                                <span>3</span>
                                <a href="/info/9/ ">更多&nbsp;&gt;</a>
                            </div>
                            <div class="list " style="">
                                <ul>

                                    <li style="display: block; ">
                                        <a href="Show.aspx?n=270 ">
                                            <div class="title">
                                                全国中等职业教育满意度测评报告
                                            </div>
                                            <div class="desc ">
                                                ——我国中职教育改革发展取得了显著成绩。从此次调查结果看，成绩主要体现在如下方面：中职教育相对获得感增强，上轮满意度调查以来，我国中职教育的质量有所提升，给学生带来更多获得感，同时中职毕业生受到就业市场欢迎。和2016年相比，2019年全国中职学生就学满意度提高了5.36分，教育相对获得感提高了4.61分。中职教师的职业相对获得感提高了2.79分。超过70%的高年级学生都认为自己在专业技术技能、自信心和自我认识等方面取得较大提高。从测评结果看，全国有24个省份的中职教育发展水平能够满足甚至远远超出当地人民
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="Show.aspx?n=267 ">
                                            <div class="title ">坚持职业教育改革转型发展正确方向</div>
                                            <div class="desc ">--
                                                职业教育是类型教育，泛指各类职业院校（包括技工院校）和职业技能培训，其办学特征与普通教育有着本质区别。在国家职业教育改革过程中，职业院校应如何回答“培养什么人，怎样培养人，为谁培养人”的问题，是当前需要深入研究解决的重大课题
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="Show.aspx?n=259 ">
                                            <div class="title ">用终身教育思想发展职业教育</div>
                                            <div class="desc ">
                                                --行业企业发展进程是产业进步、技术革新的晴雨表和风向标。只有加强与行业企业的合作，职业院校办学才有可能走出象牙塔，才有可能与产业升级同步、与技术革新同步、与社会发展同步。要推动标准融合，打破职业院校与行业壁垒，开展职业（岗位）标准与人才培养标准一体化设计，推进专业设置、专业课程内容与职业标准相衔接，建立更多的经营性、生产性实习实训基地。要制定优惠政策，优化产教融合机制，吸引行业企业深度融入职业学校办学，主动参与人才培养，在中国推动更多产教融合型企业发展。要通过职业学校的融入以及企业自觉，建设更多的学习
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">工作动态</li>
                                    <li>重要通知</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/9/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--工作动态-->
                            <div class="child ">

                                <ul>
                                    <li class="clearfix "><span class="date ">2020-09-06</span>
                                        <div class="title "><a href="Show.aspx?n=250 ">置顶：本网版权与免责声明</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-09-06</span>
                                        <div class="title "><a href="Show.aspx?n=273 ">我所”茶文化与茶礼仪“学科研究与实践基地授牌仪式在郑举行</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-08-21</span>
                                        <div class="title "><a href="Show.aspx?n=269 ">喜讯：我所研究员获最高人民检察院立项课题</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-07-23</span>
                                        <div class="title "><a href="Show.aspx?n=264 ">第十一届中国管理创新大会(现场网络视频直播盛典)在京举办</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-07-21</span>
                                        <div class="title "><a href="Show.aspx?n=263 ">院学术委员会
                                            《“十四五”时期管理科学重点课题指南》编制工作正式启动</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--重要通知-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-09-24</span>
                                        <div class="title "><a href="Show.aspx?n=275 ">关于开展家庭教育指导师的 通 知</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-09-24</span>
                                        <div class="title "><a href="Show.aspx?n=274 ">关于开展家庭经营智慧研修班的 通 知</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-08-21</span>
                                        <div class="title "><a href="Show.aspx?n=268 ">关于与北京盛世元鸿科技有限合作开展岗位技能培训的通知</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-08-06</span>
                                        <div class="title "><a href="Show.aspx?n=265 ">关于开展中国传统文化培训的 通知</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-06-23</span>
                                        <div class="title "><a href="Show.aspx?n=261 ">关于报送先进典型的通知</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu ">
        <div class="container ">
            <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">
                信息查询</h1>
            <div class="list ">
                <ul class="clearfix ">

                    <li>
                        <a href="/info/77/ ">
                            <img src="/static/img/a.png "/>
                            <p>技能证书</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/78/ ">
                            <img src="/static/img/b.png "/>
                            <p>特聘研究员</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/79/ ">
                            <img src="/static/img/c.png "/>
                            <p>荣誉证书</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/80/ ">
                            <img src="/static/img/d.png"/>
                            <p>行业专家</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/81/ ">
                            <img src="/static/img/e.png"/>
                            <p>学术顾问</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/34/ ">
                            <img src="/static/img/f.png "/>
                            <p>培训基地</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/16/ ">
                            <img src="/static/img/g.png"/>
                            <p>立项课题</p>
                        </a>
                    </li>

                    <li>
                        <a href="/info/51/ ">
                            <img src="/static/img/h.png "/>
                            <p>结项课题</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="index-news ">
        <div class="container ">
            <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">
                学术资讯</h1>
            <div class="box clearfix ">
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">专家观点</li>
                                    <li>知识科普</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/01/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--学者论述-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-07-21</span>
                                        <div class="title "><a href="Show.aspx?n=262 ">职教研究如何发挥新型智库功能</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-10</span>
                                        <div class="title "><a href="Show.aspx?n=203 ">黄德宽：应保持传统文化教材的连续性</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2018-06-20</span>
                                        <div class="title "><a href="Show.aspx?n=206 ">金吉列郑应文：跨越时空 留学服务升级新方向</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2013-06-10</span>
                                        <div class="title "><a href="Show.aspx?n=207 ">民办教育协会副会长郑增仪：中国教育信息化</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2010-04-19</span>
                                        <div class="title "><a href="Show.aspx?n=205 ">家长必读：什么样的父母教出成功孩子？</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--科普知识-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=215 ">详解企业如何建立可信任的 AI | AI 成熟度调研</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2019-01-26</span>
                                        <div class="title "><a href="Show.aspx?n=218 ">“三星赶月”天象，月球会陆续追上木星、土星和火星</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2018-01-08</span>
                                        <div class="title "><a href="Show.aspx?n=216 ">宇宙那么大，我想去看看 | 世界航天日特辑</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2013-01-28</span>
                                        <div class="title "><a href="Show.aspx?n=217 ">【物理实验】科学史上最美的十大实验</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2010-04-09</span>
                                        <div class="title "><a href="Show.aspx?n=214 ">荐书|物联网商业：星辰大海的新商战</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">学者论述</li>
                                    <li>学术研究</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/03/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--文化体育-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-08-06</span>
                                        <div class="title "><a href="Show.aspx?n=266 ">扩大 旅游文化体育健康养老教育培训等领域消费</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=209 ">改革开放以来我国职业体育的发展历程</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2019-04-09</span>
                                        <div class="title "><a href="Show.aspx?n=208 ">中国体育职业化存在的表象问题与深度思考</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2014-03-04</span>
                                        <div class="title "><a href="Show.aspx?n=212 ">职业文体的成功案例分析——以近年来职业体育为例</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2010-09-20</span>
                                        <div class="title "><a href="Show.aspx?n=213 ">美国、意大利等国外职业体育聚乐部的可借鉴之处</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--健康知识-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=223 ">低脂肪+高碳水普里蒂金饮食的是与非！</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=222 ">【科普营养】不同食用油有啥区别？如何选？这4个坑千万别踩</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2018-09-08</span>
                                        <div class="title "><a href="Show.aspx?n=221 ">常年手脚冰凉，是怎么回事？看看中医如何调理</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2016-03-06</span>
                                        <div class="title "><a
                                                href="Show.aspx?n=220 ">会喝粥的人更长寿！三大误区千万别踩~春季常喝三碗粥，护肝又健脾</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2010-04-20</span>
                                        <div class="title "><a href="Show.aspx?n=219 ">【食疗有方】养生食疗“复脑膳”，预防中风促健康</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="index-news ">
        <div class="container ">
            <h1 style="text-align: center; font-size: 36px;font-weight: bold; margin-top: 2%;margin-bottom: 2% ">
                风土文化</h1>
            <div class="imgList ">
                <ul class="clearfix ">

                    <li>
                        <a >
                            <img src="http://www.camec.org.cn/upload/20200806/2020080612145218.jpg "/>

                        </a>
                    </li>

                    <li>
                        <a >
                            <img src="http://www.camec.org.cn/upload/20200418/2020041811185698.jpg "/>

                        </a>
                    </li>

                    <li>
                        <a>
                            <img src="http://www.camec.org.cn/upload/20200410/2020041017300992.jpg "/>

                        </a>
                    </li>

                </ul>
            </div>
            <div class="box clearfix ">
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">自然景观</li>
                                    <li>好物推荐</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/31/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--自然景观-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-09-06</span>
                                        <div class="title "><a href="Show.aspx?n=272 ">让高质量的旅游职业教育走向世界</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-06-22</span>
                                        <div class="title "><a href="Show.aspx?n=258 ">推动校企合作 加快发展现代旅游职业教育</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=227 ">海南三亚最后一片高品质海湾，远离烦嚣原始静美</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=225 ">最接地气的寺庙，进去可以上香，出来之后就可以打麻将</a>
                                        </div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2019-04-14</span>
                                        <div class="title "><a href="Show.aspx?n=224 ">云南腾冲：让“幸福的地方”更加幸福的“小秘诀”</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--好物推荐-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=249 ">全新第四代日产奇骏</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=248 ">特斯拉Cybertruck电动皮卡</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">文化体育</li>
                                    <li>健康知识</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/003/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--学术资讯-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-09-06</span>
                                        <div class="title "><a href="Show.aspx?n=271 ">高等职业教育和普通高等教育一样有前景</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-05-07</span>
                                        <div class="title "><a href="Show.aspx?n=255 ">职业教育的起源和发展历程</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2019-05-20</span>
                                        <div class="title "><a href="Show.aspx?n=256 ">新中国职业教育70年的发展轨迹和历史经验</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2018-06-27</span>
                                        <div class="title "><a href="Show.aspx?n=254 ">中国职业教育发展的历史轨迹</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2017-05-30</span>
                                        <div class="title "><a href="Show.aspx?n=257 ">近代中国职业教育制度生成的历史分析</a></div>
                                    </li>
                                </ul>
                            </div>

                            <!--世界风土人情-->
                            <div class="child ">
                                <ul>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=247 ">德意志联邦共和国(Bundesrepublik
                                            Deutschland)</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=246 ">里约日内卢是巴西最吸引旅行者的城市</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=245 ">澳大利亚大陆、塔斯马尼亚岛以及数个海外岛屿</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=244 ">日本富士山之行，清晰的看见富士山上的堆满了雪</a></div>
                                    </li>
                                    <li class="clearfix "><span class="date ">2020-04-18</span>
                                        <div class="title "><a href="Show.aspx?n=243 ">法国科尔马小镇</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box clearfix ">
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">文学欣赏</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/002/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--书画欣赏-->
                            <div class="child ">

                                <div class="imgList2 clearfix ">

                                    <div class="item clearfix ">
                                        <a href="Show.aspx?n=235 " class="inner ">
                                            <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg "/>
                                            <p>中国书画形象人物：著名山水画家宋智明</p>
                                        </a>
                                    </div>

                                    <div class="item clearfix ">
                                        <a href="Show.aspx?n=233 " class="inner ">
                                            <img src="http://www.camec.org.cn/upload/20200414/2020041416451314.jpg "/>
                                            <p>明德引领风尚 挥毫书写时代—新时代杰出艺术名家胡幼龙作品鉴赏</p>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <!--知名散文-->
                            <div class="child ">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item ">
                    <div class="inner titleChange ">
                        <div class="title-box clearfix ">
                            <div class="list ">
                                <ul class="clearfix ">
                                    <li class="active ">风土人情</li>
                                </ul>
                            </div>
                            <div class="link ">
                                <a href="/info/001/ ">
                                    <span>更多&nbsp;&gt;</span>
                                </a>
                            </div>
                        </div>
                        <div class="newsList ">

                            <!--书画欣赏-->
                            <div class="child ">

                                <div class="imgList2 clearfix ">

                                    <div class="item clearfix ">
                                        <a href="Show.aspx?n=235 " class="inner ">
                                            <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg "/>
                                            <p>中国书画形象人物：著名山水画家宋智明</p>
                                        </a>
                                    </div>

                                    <div class="item clearfix ">
                                        <a href="Show.aspx?n=233 " class="inner ">
                                            <img src="http://www.camec.org.cn/upload/20200414/2020041416435555.jpg"/>
                                            <p>明德引领风尚 挥毫书写时代—新时代杰出艺术名家胡幼龙作品鉴赏</p>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <!--知名散文-->
                            <div class="child ">
                                <ul></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <h2 style="font-weight: bold; font-size: 24px; margin-top: 10%">合作单位</h2>
            <div class="box clearfix">
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
            </div>
            <h2 style="font-weight: bold; font-size: 24px; margin-top: 4%">推荐网站</h2>
            <div class="box clearfix">
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
            </div>
            <h2 style="font-weight: bold; font-size: 24px; margin-top: 4%">培训机构</h2>
            <div class="box clearfix">
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
                <p style="float: left; margin-left: 10%;font-size: 20px; margin-top: 2%">xxx</p>
            </div>
        </div>
    </div>


{% endblock %}