{% extends 'pc/base.html' %}
{% block content %}
    <div class="bread">
        <div class="container">
            <div class="text">
                <a href="/">首页</a>&nbsp;&gt;&nbsp;
                <a href="javascript:;">{{ first_name }}</a>
                {% if second_name %}
                    &nbsp;&gt;&nbsp;
                    <a href="javascript:;">{{ second_name }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="article">
        <div class="container">
            <div class="list">
                <ul>

                    <li class="clearfix">
                        <span class="date">2020-09-24</span>
                        <div class="title">
                            <a href="Show.aspx?n=275">关于开展家庭教育指导师的 通 知</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2020-09-24</span>
                        <div class="title">
                            <a href="Show.aspx?n=274">关于开展家庭经营智慧研修班的 通 知</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2020-08-21</span>
                        <div class="title">
                            <a href="Show.aspx?n=268">关于与北京盛世元鸿科技有限合作开展岗位技能培训的通知</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2020-08-06</span>
                        <div class="title">
                            <a href="Show.aspx?n=265">关于开展中国传统文化培训的 通知</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2020-06-23</span>
                        <div class="title">
                            <a href="Show.aspx?n=261">关于报送先进典型的通知</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2019-11-21</span>
                        <div class="title">
                            <a href="Show.aspx?n=202">关于2020年部分节假日安排的通知</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2018-12-04</span>
                        <div class="title">
                            <a href="Show.aspx?n=201">关于2019年部分节假日安排的通知</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2018-11-13</span>
                        <div class="title">
                            <a href="Show.aspx?n=106">面向全体员工选聘内部培训讲师的通知</a>
                        </div>
                    </li>

                </ul>
                <div id="PageContent" class="page"></div>

            </div>
        </div>
    </div>
{% endblock %}