{% extends 'pc/base.html' %}
{% block content %}
    <div class="bread">
        <div class="container">
            <div class="text">
                <a href="/">首页</a>&nbsp;&gt;&nbsp;
                <a href="javascript:;">{{ first_name }}</a>
                {% if second_name %}
                    &nbsp;&gt;&nbsp;
                    <a href="javascript:;">{{ second_name }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="article">
        <div class="container">
            <div class="list">
                <ul>

                    <li class="clearfix">
                        <span class="date">2020-09-24</span>
                        <div class="title">
                            <a href="Show.aspx?n=275">xxxxxxxxxxxxxxx</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2020-09-24</span>
                        <div class="title">
                            <a href="Show.aspx?n=274">xxxxxxxxxxxxxxxx</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2020-08-21</span>
                        <div class="title">
                            <a href="Show.aspx?n=268">xxxxxxxxxxxxxxxxxx</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2020-08-06</span>
                        <div class="title">
                            <a href="Show.aspx?n=265">xxxxxxxxxxxxxx</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2020-06-23</span>
                        <div class="title">
                            <a href="Show.aspx?n=261">xxxxxxxxxxxxxxxx</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2019-11-21</span>
                        <div class="title">
                            <a href="Show.aspx?n=202">xxxxxxxxxxxxxxx</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2018-12-04</span>
                        <div class="title">
                            <a href="Show.aspx?n=201">xxxxxxxxxxxxxxx</a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <span class="date">2018-11-13</span>
                        <div class="title">
                            <a href="Show.aspx?n=106">xxxxxxxxxxxxxxxx</a>
                        </div>
                    </li>

                </ul>
                <div id="PageContent" class="page"></div>

            </div>
        </div>
    </div>
{% endblock %}